<div class="observed-blockspan-detail">
  <div class="observed-blockspan-detail--top" *ngIf="fromBlock && toBlock">
    <div class="blockspan">
      <div class="d-flex" style="margin-bottom: 110px;">
        <app-energy [fromBlock]="fromBlock" [toBlock]="toBlock" [isDetailed]="true"></app-energy>
        <app-chainwork-box [fromChainwork]="fromBlock.chainwork" [toChainwork]="toBlock.chainwork" [isDetailed]="true" [link]="energyDetailLink()"></app-chainwork-box>
      </div>
    </div>
    <div class="blockspan-table">
      <div class="content">
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td>average</td>
              <td>0</td>
              <td>average</td>
              <td>0</td>
            </tr>
            <tr>
              <td>std dev</td>
              <td>0</td>
              <td>std dev</td>
              <td>0</td>
            </tr>
            <tr>
              <td colspan="2">Time</td>
              <td colspan="2">Hashes</td>
            </tr>
            <tr>
              <td colspan="4">Statistics(last 100 blockspans)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="blockspan-table">
      <h3>Blockspan < {{ fromBlock.height }} - {{ toBlock.height }} ></h3>
      <div class="content">
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td></td>
              <td>Block</td>
              <td>Mediantime (UTC)</td>
              <td>Mediantime (Posix Seconds)</td>
              <td>Chainwork</td>
            </tr>
            <tr>
              <td></td>
              <td>{{ toBlock.height }}</td>
              <td>{{ toBlock.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ toBlock.mediantime }}</td>
              <td><div>{{ toBlock.chainwork }}</div></td>
            </tr>
            <tr>
              <td></td>
              <td>{{ fromBlock.height }}</td>
              <td>{{ fromBlock.mediantime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ fromBlock.mediantime }}</td>
              <td><div>{{ fromBlock.chainwork }}</div></td>
            </tr>
            <tr>
              <td>Elapsed</td>
              <td>{{ toBlock.height - fromBlock.height }}</td>
              <td>{{ toHHMMSS(toBlock.mediantime - fromBlock.mediantime) }}</td>
              <td>{{ toBlock.mediantime - fromBlock.mediantime }}</td>
              <td>{{ chainworkDiff.toString() }}</td>
            </tr>
            <tr>
              <td>Energy:</td>
              <td>({{ span }} * 600 - {{ timeDiff }}) / ({{ span }} * 600)</td>
              <td></td>
              <td>{{ energyDiff | number }} %</td>
              <td></td>
            </tr>
            <tr>
              <td>Hashrate:</td>
              <td>{{ chainworkDiff }} / {{ toBlock.mediantime - fromBlock.mediantime }}</td>
              <td></td>
              <td>{{ hashrate.toString() }} h / sec</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>
</div>
